body {
  background: #018DED url('https://source.unsplash.com/random/?nature');
  background-size: cover;
  text-align:center;
  font-size:10px;
  font-family: 'Roboto', sans-serif;

}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
}
.clock-face {
  position: relative;
  width:50%;
  height: 100%;
}

.hand {
  width: 90%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  right:0;
  transform-origin:100%;
  transform: rotate(90deg);
  transition: all 0.05s;
}

.hour-hand {
  width: 70%;
}

.minute-hand{
  height:4px;

}

.second-hand {
  height:2px;

}
